@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  }
  @import url('https://scrollhunt.pixel-fy.com/bars/2/bar.css');
body {
    background-color: #f4f4f2;
    margin: 0;
    font-family: Product Sans;
}


header {
    background-color: #f4f4f2;
    padding-left: 2vw;
    font-size: 4vw;
    color: #9088d4;
    font-family: Product Sans;
    text-decoration: none;
    transition: 0.2s;
    margin-top: 0;
    margin-bottom: -100px;
    
}
@media only screen and (max-width: 900px) {
    header {
        margin-bottom: -20px;
    }
    }
header a:hover {
    color: #9F88D4;
}
header a {
    text-decoration: none;
    color: #9088d4;
}
iframe {
    width: 32.5%;
    border: 2px solid #e8e8e8;
    border-radius: 10px;
    margin-bottom: 5%;
}
@media only screen and (max-width: 900px) {
    iframe {
    width: 48%;
}
}
@media only screen and (max-width: 600px) {
    iframe {
    width: 100%;
}
}

.main {
    margin-left: 5%;
    margin-right: 5%;
}
nav {
    padding-left: 2vw;
}
nav a {
    margin-top: 0;
    color: #bcbcbc;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    padding-right: 3px;
    transition: 0.3s;
    padding-right: 10px;
}
nav a:hover {
    color: #9ad3bc;
}

.main h2 {
    color: #9F88D4;
    font-family: Product Sans;
}

input[type=text] {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    background-color: white;
    border: none;
    color: white;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.3s;
    border: 3px #98acf8 solid;
    color: #393e46;
    width: 50%;
}

input[type=submit] {
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    background-color: #98acf8; /* Green */
    border: none;
    color: white;
    padding: 17px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.3s;
}
input[type=submit]:hover {
    background-color: #9088d4;
    cursor: pointer;
}

.main h2 {
    font-size: 35px;
}
.main b {
    color: #9088d4;
}
.main p {
    font-size: 22px;
}

code {
    font-size: 20px;
    color: gray;
}

.main a {
    text-decoration: none;
    color: #9F88D4;
    transition: 0.3s;
}
.main a:hover {
    color: #98acf8;
}